<html>
<head>
  <title>
    <%= title %>
  </title>
  <body>

  <header> Pagr Header  
  </header>
    
  <h1> Codeial  /  Profile page
  </h1>
  </body>


 <footer>Page Footer  
 </Footer>


</head>




</html>